/* Accordion Default Section */
.Material-default-accordion {
	.panel-default {
		border: 0;
		box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
		.panel-heading {
			padding: 0;
			margin-bottom: 15px;
			.panel-title{
				font-size: 18px;
				i{
					margin-right: 5px;
				}
			}
			.collapsed::after {
				content: "\f415";
			}
			a {
			    font-weight: 500;
			    padding: 15px 20px;
			    display: inline-block;
			    width: 100%;
			    color: #ffffff;
			    position: relative;
			    text-decoration: none;
			    &:after {
			    	font-family: Material Design Icons;
				    content: "\f374";
				    position: absolute;
				    right: 15px;
				    font-size: 14px;
				    font-weight: 300;
				    top: 50%;
				    line-height: 1;
				    margin-top: -7px;
			    }
			}
	    }
	    .panel-body{
	    	padding: 15px;
	    }
	}
}
/* Accordion Section 2 */
.Material-accordion-2 {
	.panel-default {
		border: 0;
		.panel-heading {
			padding: 0;
			.collapsed::after {
				content: "\f415";
			}
			a {
			    font-weight: 500;
			    padding: 15px 20px;
			    display: inline-block;
			    width: 100%;
			    color: #333;
			    background: #EEEEEE !important;
			    position: relative;
			    text-decoration: none;
			    &:after {
			    	font-family: Material Design Icons;
				    content: "\f374";
				    position: absolute;
				    right: 15px;
				    font-size: 14px;
				    font-weight: 300;
				    top: 50%;
				    line-height: 1;
				    margin-top: -7px;
			    }
			}
	    }
	}
}